*{
    margin: 0;
    padding: 0;
}
.profile{
    height: 92vh;
    width: 100%;
   
}
.left1{
    width:20%;
    height: 92vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
}
.bottom{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 10vh;
    margin-left: 23%;
}
button{
    background-color: blue;
    border: none;
    margin-bottom: 6%;
    color: white;    
    width: 150px;
    height: 40px;
}
.top{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top img{
    height: 150px;
    width: 150px;
}
.post{
    height: 20vh;
    width: 10%;
    background-color: violet;
}
.post img{
    height: 100%;
    width: 80%;
}